.question-section {
  height: 400px;
  display: flex;
  border: 1px solid black;
  /* border-radius: 5px; */
  box-shadow: 0 0 10px 2px;
  margin: 30px;
}

.fb-item {
  width: 200px;
  margin: 1px;
  /* border: 1px solid black; */
  min-height: 100px;
  background-color: #dfdfdf;
}
.question-middle{
  min-height: 100px;
  flex-grow: 1;
}
.queen-right {
  min-height: 100px;
  flex-grow: 1;
  
}
.queen-right:hover {
  box-shadow: 0 1.4rem 2rem .5rem;
}
.queen-left:hover {
  box-shadow: 0 1.4rem 2rem .5rem;
}

.queen-left {
  min-height: 100px;
  flex-grow: 1;
  
}
h1 {
  text-align: center;
  font-size: 50px;
  margin-top: 20px;
  padding: 20px;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral);
  background-color: hsl(var(--hue), 100%, 20%);
  font-family: 'Berkshire Swash', cursive;
  /* background-image: url('https://i.imgur.com/2JHWRvV.jpg');
  background-repeat: no-repeat;
  background-size: inherit; */
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong)
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
background-color: cornflowerblue;
border: 1px solid blue;
border-radius: 5px;
padding: 10px 70px;
color: cornsilk;
margin: 20px;
outline: none;
}

.btn:hover {
  border-color: black;
}

.start-btn {
  font-size: medium;
  font-weight: bold;
  padding: 10px 200px;
}

.next-btn {
  font-size: medium;
  font-weight: bold;
  /* padding: 10px 20px; */
}

.hide {
  display: none;
}

.queen-info {
  font-size: 30px;
  padding: 0px 0px 20px 10px;
  }

.queen-info2 {
  font-size: 30px;
  padding: 100px 0px 20px 10px;
  }

footer{
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
}

.footer-info {
  display: inline;
  padding: 100px 10px;
}

.queen-img {
  width: 150px;
}

